In [1]:
!pip install wandb==0.16.0
!pip install ydata-profiling==4.12.1
!pip install pandas==2.1.3

Requirement already satisfied: wandb==0.16.0 in /opt/venv/lib/python3.10/site-packages (0.16.0)
Requirement already satisfied: appdirs>=1.4.3 in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (1.4.4)
Requirement already satisfied: sentry-sdk>=1.0.0 in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (2.49.0)
Requirement already satisfied: protobuf!=4.21.0,<5,>=3.19.0 in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (4.25.8)
Requirement already satisfied: requests<3,>=2.0.0 in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (2.32.5)
Requirement already satisfied: setproctitle in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (1.3.7)
Requirement already satisfied: PyYAML in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (6.0.2)
Requirement already satisfied: setuptools in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (65.5.0)
Requirement already satisfied: psutil>=5.0.0 in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (6.1.0)
Requirement already satisfied: Click!=8.0.0,>=7.1 in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (8.3.1)
Requirement already satisfied: docker-pycreds>=0.4.0 in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (0.4.0)
Requirement already satisfied: GitPython!=3.1.29,>=1.0.0 in /opt/venv/lib/python3.10/site-packages (from wandb==0.16.0) (3.1.46)
Requirement already satisfied: six>=1.4.0 in /opt/venv/lib/python3.10/site-packages (from docker-pycreds>=0.4.0->wandb==0.16.0) (1.17.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/venv/lib/python3.10/site-packages (from GitPython!=3.1.29,>=1.0.0->wandb==0.16.0) (4.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /opt/venv/lib/python3.10/site-packages (from requests<3,>=2.0.0->wandb==0.16.0) (2026.1.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/venv/lib/python3.10/site-packages (from requests<3,>=2.0.0->wandb==0.16.0) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/venv/lib/python3.10/site-packages (from requests<3,>=2.0.0->wandb==0.16.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/venv/lib/python3.10/site-packages (from requests<3,>=2.0.0->wandb==0.16.0) (2.6.3)
Requirement already satisfied: smmap<6,>=3.0.1 in /opt/venv/lib/python3.10/site-packages (from gitdb<5,>=4.0.1->GitPython!=3.1.29,>=1.0.0->wandb==0.16.0) (5.0.2)

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: ydata-profiling==4.12.1 in /opt/venv/lib/python3.10/site-packages (4.12.1)
Requirement already satisfied: scipy<1.14,>=1.4.1 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (1.11.4)
Requirement already satisfied: multimethod<2,>=1.4 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (1.12)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (0.13.1)
Requirement already satisfied: numba<1,>=0.56.0 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (0.63.1)
Requirement already satisfied: wordcloud>=1.9.3 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (1.9.5)
Requirement already satisfied: phik<0.13,>=0.11.1 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (0.12.5)
Requirement already satisfied: tqdm<5,>=4.48.2 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (4.67.1)
Requirement already satisfied: pydantic>=2 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (2.12.5)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (1.26.3)
Requirement already satisfied: requests<3,>=2.24.0 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (2.32.5)
Requirement already satisfied: imagehash==4.3.1 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (4.3.1)
Requirement already satisfied: typeguard<5,>=3 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (4.4.4)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (0.14.1)
Requirement already satisfied: dacite>=1.8 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (1.9.2)
Requirement already satisfied: htmlmin==0.1.12 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (0.1.12)
Requirement already satisfied: visions[type_image_path]<0.7.7,>=0.7.5 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (0.7.6)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (3.1.4)
Requirement already satisfied: matplotlib<3.10,>=3.5 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (3.8.2)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (2.1.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /opt/venv/lib/python3.10/site-packages (from ydata-profiling==4.12.1) (6.0.2)
Requirement already satisfied: pillow in /opt/venv/lib/python3.10/site-packages (from imagehash==4.3.1->ydata-profiling==4.12.1) (10.2.0)
Requirement already satisfied: PyWavelets in /opt/venv/lib/python3.10/site-packages (from imagehash==4.3.1->ydata-profiling==4.12.1) (1.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/venv/lib/python3.10/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling==4.12.1) (3.0.2)
Requirement already satisfied: packaging>=20.0 in /opt/venv/lib/python3.10/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling==4.12.1) (24.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/venv/lib/python3.10/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling==4.12.1) (1.3.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/venv/lib/python3.10/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling==4.12.1) (1.4.7)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/venv/lib/python3.10/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling==4.12.1) (3.2.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/venv/lib/python3.10/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling==4.12.1) (4.55.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/venv/lib/python3.10/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling==4.12.1) (2.9.0.post0)
Requirement already satisfied: cycler>=0.10 in /opt/venv/lib/python3.10/site-packages (from matplotlib<3.10,>=3.5->ydata-profiling==4.12.1) (0.12.1)
Requirement already satisfied: llvmlite<0.47,>=0.46.0dev0 in /opt/venv/lib/python3.10/site-packages (from numba<1,>=0.56.0->ydata-profiling==4.12.1) (0.46.0)
Requirement already satisfied: tzdata>=2022.1 in /opt/venv/lib/python3.10/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling==4.12.1) (2024.2)
Requirement already satisfied: pytz>=2020.1 in /opt/venv/lib/python3.10/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling==4.12.1) (2024.2)
Requirement already satisfied: joblib>=0.14.1 in /opt/venv/lib/python3.10/site-packages (from phik<0.13,>=0.11.1->ydata-profiling==4.12.1) (1.4.2)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/venv/lib/python3.10/site-packages (from pydantic>=2->ydata-profiling==4.12.1) (0.7.0)
Requirement already satisfied: typing-inspection>=0.4.2 in /opt/venv/lib/python3.10/site-packages (from pydantic>=2->ydata-profiling==4.12.1) (0.4.2)
Requirement already satisfied: pydantic-core==2.41.5 in /opt/venv/lib/python3.10/site-packages (from pydantic>=2->ydata-profiling==4.12.1) (2.41.5)
Requirement already satisfied: typing-extensions>=4.14.1 in /opt/venv/lib/python3.10/site-packages (from pydantic>=2->ydata-profiling==4.12.1) (4.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/venv/lib/python3.10/site-packages (from requests<3,>=2.24.0->ydata-profiling==4.12.1) (2026.1.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/venv/lib/python3.10/site-packages (from requests<3,>=2.24.0->ydata-profiling==4.12.1) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/venv/lib/python3.10/site-packages (from requests<3,>=2.24.0->ydata-profiling==4.12.1) (2.6.3)
Requirement already satisfied: idna<4,>=2.5 in /opt/venv/lib/python3.10/site-packages (from requests<3,>=2.24.0->ydata-profiling==4.12.1) (3.10)

Requirement already satisfied: patsy>=0.5.4 in /opt/venv/lib/python3.10/site-packages (from statsmodels<1,>=0.13.2->ydata-profiling==4.12.1) (1.0.1)
Requirement already satisfied: attrs>=19.3.0 in /opt/venv/lib/python3.10/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling==4.12.1) (24.2.0)
Requirement already satisfied: networkx>=2.4 in /opt/venv/lib/python3.10/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling==4.12.1) (3.4.2)
Requirement already satisfied: six>=1.5 in /opt/venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib<3.10,>=3.5->ydata-profiling==4.12.1) (1.17.0)

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas==2.1.3 in /opt/venv/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: pytz>=2020.1 in /opt/venv/lib/python3.10/site-packages (from pandas==2.1.3) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/venv/lib/python3.10/site-packages (from pandas==2.1.3) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/venv/lib/python3.10/site-packages (from pandas==2.1.3) (2.9.0.post0)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/venv/lib/python3.10/site-packages (from pandas==2.1.3) (1.26.3)
Requirement already satisfied: six>=1.5 in /opt/venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas==2.1.3) (1.17.0)

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

1. Fetch the artifact we just created (sample.csv) from W&B and read it with pandas:

In [4]:
import pandas as pd
from pathlib import Path

path = "/workspace/Project-Build-an-ML-Pipeline-Starter/components/get_data/data/sample1.csv"
df = pd.read_csv(path)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaN,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8

2. Explore the data in df

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20000 non-null  int64
 1   name                            19993 non-null  object
 2   host_id                         20000 non-null  int64
 3   host_name                       19992 non-null  object
 4   neighbourhood_group             20000 non-null  object
 5   neighbourhood                   20000 non-null  object
 6   latitude                        20000 non-null  float64
 7   longitude                       20000 non-null  float64
 8   room_type                       20000 non-null  object
 9   price                           20000 non-null  int64
 10  minimum_nights                  20000 non-null  int64
 11  number_of_reviews               20000 non-null  int64
 12  last_review                     15877 non-null  object
 13  reviews_per_month               15877 non-null  float64
 14  calculated_host_listings_count  20000 non-null  int64
 15  availability_365                20000 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.4+ MB

In [6]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.000000e+04,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,15877.000000,20000.000000,20000.000000
mean,1.892380e+07,6.746034e+07,40.728455,-73.952125,153.269050,6.992100,23.274100,1.377446,6.955450,112.901200
std,1.101223e+07,7.857936e+07,0.054755,0.046559,243.325609,21.645449,44.927793,1.683006,32.433831,131.762226
min,2.539000e+03,2.571000e+03,40.508730,-74.239140,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.393540e+06,7.853718e+06,40.689420,-73.983030,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.952117e+07,3.111431e+07,40.722730,-73.955640,105.000000,2.000000,5.000000,0.720000,1.000000,44.000000
75%,2.912936e+07,1.068426e+08,40.762990,-73.936380,175.000000,5.000000,23.000000,2.010000,2.000000,229.000000
max,3.648561e+07,2.742733e+08,40.913060,-73.717950,10000.000000,1250.000000,607.000000,27.950000,327.000000,365.000000

In [7]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaN,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8

3. What do you notice in the data? Look around and see what you can find.

> For example, there are missing values in a few columns and the column `last_review` is a date but it is in string format. Look also at the `price` column, and note the outliers. There are some zeros and some very high prices. After talking to your stakeholders, you decide to consider from a minimum of `$10` to a maximum of `$350` per night.

4. Fix some of the little problems we have found in the data with the following code:

In [8]:
# Drop outliers
min_price = 10
max_price = 350
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()
# Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

Note how we did not impute missing values. We will do that in the inference pipeline, so we will be able to handle missing values also in production.

5. Check with df.info() that all obvious problems have been solved

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19001 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19001 non-null  int64
 1   name                            18994 non-null  object
 2   host_id                         19001 non-null  int64
 3   host_name                       18993 non-null  object
 4   neighbourhood_group             19001 non-null  object
 5   neighbourhood                   19001 non-null  object
 6   latitude                        19001 non-null  float64
 7   longitude                       19001 non-null  float64
 8   room_type                       19001 non-null  object
 9   price                           19001 non-null  int64
 10  minimum_nights                  19001 non-null  int64
 11  number_of_reviews               19001 non-null  int64
 12  last_review                     15243 non-null  datetime64[ns]
 13  reviews_per_month               15243 non-null  float64
 14  calculated_host_listings_count  19001 non-null  int64
 15  availability_365                19001 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 2.5+ MB

6. Terminate the run by running `run.finish()`

In [11]:
try:
    run.finish()
except NameError:
    pass

7. Save the notebook.